body {
     font-family: sans-serif;
    background-image: url("../images/fundo2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container {
    max-width:50%;
    margin: 10% auto;
    padding: 8.9%;
    background-color: #b6adad;
    border-radius:10vh ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 80% ;
}

p {
    font-size: 150%;
}
